@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 18px;
}

textarea:focus,
input:focus {
  outline: none;
}

/* font-family: 'Josefin Sans', sans-serif; */
@-webkit-keyframes changeBackground {
  0% {
    opacity: 50%;
  }
  50% {
    color: white;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes changeBackground {
  0% {
    opacity: 50%;
  }
  50% {
    color: white;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes changeBackground2 {
  0% {
    opacity: 50%;
  }
  50% {
    color: white;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes changeBackground2 {
  0% {
    opacity: 50%;
  }
  50% {
    color: white;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes removeItem {
  0% {
    opacity: 90%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    display: none;
  }
}

@keyframes removeItem {
  0% {
    opacity: 90%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    display: none;
  }
}

html {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fafafa;
}

.background {
  width: 100vw;
  min-width: 300px;
  height: 200px;
  overflow: hidden;
}

.background__img {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  min-width: 300px;
  content: url("../images/bg-mobile-light.jpg");
}

.background__img--changeToDark {
  content: url("../images/bg-mobile-dark.jpg");
  -webkit-animation: changeBackground 1s;
          animation: changeBackground 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.background__img--changeToLight {
  content: url("../images/bg-mobile-light.jpg");
  -webkit-animation: changeBackground2 1s;
          animation: changeBackground2 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main {
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 0 auto;
  z-index: 1;
  width: 80%;
  min-width: 300px;
  max-width: 600px;
}

.main__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.main__features h1 {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.main__changeColor {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__changeColor:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .changeColor__img--black {
  content: url("../images/icon-moon.svg");
}

.main__addNewItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  min-width: 300px;
  max-width: 600px;
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border-radius: 5px;
}

.main__input {
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  margin-top: 3px;
  color: #9394a5;
}

.main__reorder {
  margin: 30px auto;
  text-align: center;
  font-size: 14px;
  color: #b4b4b4;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  margin: 0 15px 0 15px;
  border-radius: 20px;
  border: 1px solid #9394a5;
  background-color: white;
  cursor: pointer;
}

.circle__img {
  height: 10px;
  display: inline-block;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
}

.circle__img--completed {
  opacity: 1;
}

.circle:not(.todoList__circle--completed):hover {
  border: double 1px transparent;
  border-radius: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), radial-gradient(circle at top left, #57ddff, #c058f3);
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #57ddff, #c058f3);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.delete {
  margin-left: auto;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.delete:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.todoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  overflow: hidden;
}

.todoList__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 200px;
}

.todoList__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 0.5px solid #f1f1f1;
  background-color: #fff;
  font-size: 14px;
}

.todoList__elem--remove {
  -webkit-animation: removeItem 0.8s;
          animation: removeItem 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.todoList__elem--completed {
  text-decoration: line-through;
}

.todoList__elem:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todoList__elem p {
  margin-top: 3px;
  font-size: 14px;
}

.todoList__circle--completed {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#57ddff, #c058f3);
}

.todoList__clearCompleted {
  cursor: pointer;
}

.todoList__options {
  min-width: 200px;
  width: 100%;
  padding: 15px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  background-color: white;
}

.todoList__options p,
.todoList__options span {
  font-size: 12px;
}

.filter {
  min-width: 200px;
  width: 100%;
  padding: 15px 25px;
  margin-top: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 10px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.filter p {
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filter p:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.filter--active {
  color: #3a7bfd;
}

.html--changeToDark {
  background-color: #161722;
}

.html--changeToDark .main__addNewItem,
.html--changeToDark .main__todoList,
.html--changeToDark .todoList__options,
.html--changeToDark .main__filter,
.html--changeToDark .main__input,
.html--changeToDark li {
  background-color: #25273c !important;
}

.html--changeToDark .circle {
  background-color: #25273c;
}

.html--changeToDark .circle:not(.todoList__circle--completed):hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25273c), to(#25273c)), radial-gradient(circle at top left, #57ddff, #c058f3);
  background-image: linear-gradient(#25273c, #25273c), radial-gradient(circle at top left, #57ddff, #c058f3);
}

.html--changeToDark .todoList {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.html--changeToDark .todoList__elem {
  border-bottom: 0.5px solid #4d5066 !important;
}

.html--changeToDark .todoList__elem p {
  color: #d2d3db;
}

.html--changeToDark .todoList__options {
  min-width: 200px;
  width: 100%;
  padding: 15px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
}

.html--changeToDark .todoList__options p,
.html--changeToDark .todoList__options span {
  color: #4d5066;
}

.html--changeToDark .filter p {
  color: #4d5066;
}

.html--changeToDark .filter--active {
  color: #3a7bfd !important;
}

.html--changeToDark .main__reorder {
  color: #4d5066;
}

@media (orientation: landscape) and (min-width: 800px) {
  .background__img {
    content: url("../images/bg-desktop-light.jpg");
  }
  .background__img--changeToDark {
    content: url("../images/bg-desktop-dark.jpg");
  }
}
/*# sourceMappingURL=style.css.map */