html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: $lightGray;
}

.background {
    width: 100vw;
    min-width: 300px;
    height: 200px;
    overflow: hidden;

    &__img {
        position: relative;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        min-height: 200px;
        min-width: 300px;
        content: url("../../images/bg-mobile-light.jpg");

        &--changeToDark {
            content: url("../../images/bg-mobile-dark.jpg");
            animation: changeBackground 1s;
            animation-fill-mode: forwards;
        }

        &--changeToLight {
            content: url("../../images/bg-mobile-light.jpg");
            animation: changeBackground2 1s;
            animation-fill-mode: forwards;
        }
    }
}

.main {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    z-index: 1;
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    overflow: hidden;

    &__features {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;

        & h1 {
            margin: 0;
            padding: 0;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            font-size: 30px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 5px;

        }
    }

    &__changeColor {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .changeColor__img--black {
        content: url("../../images/icon-moon.svg");
    }

    &__addNewItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        min-width: 300px;
        max-width: 600px;
        padding: 10px;
        margin: 10px 0;
        background-color: white;
        border-radius: 5px;
    }

    &__input {
        border: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        margin-top: 3px;
        color: $darkGrayish;
    }

    &__reorder {
        margin: 30px auto;
        text-align: center;
        font-size: 14px;
        color: rgb(180, 180, 180);
    }

}



.circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin: 0 15px 0 15px;
    border-radius: 20px;
    border: 1px solid $darkGrayish;
    background-color: white;
    cursor: pointer;

    &__img {
        height: 10px;
        display: inline-block;
        margin: 0 auto;
        opacity: 0;
        pointer-events: none;

        &--completed {
            opacity: 1;
        }
    }


    &:not(.todoList__circle--completed):hover {
        border: double 1px transparent;
        border-radius: 80px;
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
}

.delete {
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }

}

.todoList {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 200px;

    }

    &__elem {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 200px;
        width: 100%;
        padding: 10px 10px;
        border-bottom: 0.5px solid rgb(241, 241, 241);
        background-color: #fff;
        font-size: 14px;

        &--remove {
            animation: removeItem 0.8s;
            animation-fill-mode: forwards;
        }

        &--completed {
            text-decoration: line-through;
        }


    }

    &__elem:nth-child(1) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__elem p {
        margin-top: 3px;
        font-size: 14px;
    }

    &__circle--completed {
        background-image: $mainGradient;
    }

    &__clearCompleted {
        cursor: pointer;
    }

    &__options {
        min-width: 200px;
        width: 100%;
        padding: 15px 25px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        background-color: white;

        & p,
        & span {
            font-size: 12px;
        }
    }
}

.filter {
    min-width: 200px;
    width: 100%;
    padding: 15px 25px;
    margin-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

    & p {
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &--active {
        color: $mainColor;
    }


}

.html--changeToDark {
    background-color: $veryDarkBlue;

    .main__addNewItem,
    .main__todoList,
    .todoList__options,
    .main__filter,
    .main__input,
    li {
        background-color: $veryDarkDesaturatedBlue !important;
    }

    .circle {
        background-color: $veryDarkDesaturatedBlue;

        &:not(.todoList__circle--completed):hover {
            background-image: linear-gradient($veryDarkDesaturatedBlue, $veryDarkDesaturatedBlue), radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
    }

    .todoList {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

        &__elem {
            border-bottom: 0.5px solid $veryDarkGrayishBlue !important;

        }

        &__elem p {
            color: $lightGrayish;
        }

        &__options {
            min-width: 200px;
            width: 100%;
            padding: 15px 25px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 10px;

            & p,
            & span {
                color: $veryDarkGrayishBlue;
            }
        }
    }

    .filter {

        & p {
            color: $veryDarkGrayishBlue;
        }

        &--active {
            color: $mainColor !important;
        }
    }

    .main__reorder {
        color: $veryDarkGrayishBlue;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    .background {
        &__img {
            content: url("../../images/bg-desktop-light.jpg");

            &--changeToDark {
                content: url("../../images/bg-desktop-dark.jpg");
            }
        }
    }
}